<div class="card h-100 shadow-sm p-2 text-center">
  <img
    *ngIf="country?.flag"
    [src]="country.flag"
    [alt]="country?.name || 'Drapeau'"
    class="card-img-top"
    height="150px"
  />

  <div class="card-body">
    <h5 class="card-title">{{ country?.name || 'Nom non disponible' }}</h5>

    <p class="card-text">
      Population :
      <span *ngIf="country?.population !== undefined; else noData">
        {{ country.population | number }}
      </span>
      <ng-template #noData>Non disponible</ng-template>
    </p>

    <p class="card-text">
      Continent : {{ country?.continent || 'Inconnu' }}
    </p>

    <a
      *ngIf="country?.id"
      [routerLink]="['/country', country.id]"
      class="btn btn-primary"
    >
      Voir plus
    </a>
  </div>
</div>
